.container {
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 100px;
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 1px black solid;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.cellContainer {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;
	min-width: 128px;

	border: 1px black solid;
}
