.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.board {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	border: 1px black solid;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	width: 100%;
}

.cell {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px;

	border: 1px black solid;
}

.headerCell {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 64px;
	font-size: 14px;
}

.dataCell {
	width: 100%;
	border-right: none;
	font-size: 14px;

	border-right: 1px black solid;	
}
